*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    margin-top: -50px;
    margin-left: -150px;
    padding: 10px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltiptext::after {
    content: ''; 
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 15px;
        left: 105%;
    transform: translateX(50%) rotate(45deg);
    background-color: black;
    margin-left: -150px;
    z-index: -1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}


